body {
  background: #0f172a;
  color: white;
  font-family: Arial;
  text-align: center;
}

#chat {
  width: 90%;
  max-width: 500px;
  height: 350px;
  margin: auto;
  background: #020617;
  overflow-y: auto;
  padding: 10px;
  border-radius: 8px;
}

input {
  width: 70%;
  padding: 10px;
  margin-top: 10px;
}

button {
  padding: 10px;
}
